In [1]:
#Libraries
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2

In [35]:
#source
bibliotecas = pd.read_csv(r'C:\Users\Equipo\Desktop\Challenge\src\Bibliotecas populares\-2022-julio\Bibliotecas populares-06-07-2022.csv', sep=',')
museos = pd.read_csv(r'C:\Users\Equipo\Desktop\Challenge\src\Museos\-2022-julio\museos-06-07-2022.csv', sep=',')
salas_cine = pd.read_csv(r'C:\Users\Equipo\Desktop\Challenge\src\Salas de cine\-2022-julio\Salas de cine-06-07-2022.csv', sep=',')

In [5]:
engine = create_engine('postgresql://postgres:camilo123@localhost:5432/Challenge')

In [194]:
#selecciona columnas solicitadas
m=museos.iloc[0:,[0,1,2,4,6,7,8,9,11,13,14,15]]

In [195]:
#renombre columnas
m.columns=(['cod_localidad','id_provincia','id_departamento','categoría','provincia',
       'localidad','nombre','domicilio','código postal','número de teléfono', 'mail','web'
      ])

In [196]:
#inserta fecha de carga
m.insert(12,'fecha de carga', '07/07/2022', allow_duplicates=False)
m

,cod_localidad,id_provincia,id_departamento,categoría,provincia,localidad,nombre,domicilio,código postal,número de teléfono,mail,web,fecha de carga
0,6588100,6,6588,Espacios de Exhibición Patrimonial,Buenos Aires,9 de Julio,Archivo Y Museo Histórico Gral. Julio De Vedia,Libertad 1191,B6500EVL,425 279,archivoymuseo@yahoo.com.ar,www.portaldel9.com.ar,07/07/2022
1,6077010,6,6077,Espacios de Exhibición Patrimonial,Buenos Aires,Arrecifes,Museo Y Archivo Histórico De Arrecifes,Gerardo Risso y España,B2740FMJ,452 931,museoarrecifes@hotmail.com,NaN,07/07/2022
2,6035010,6,6035,Espacios de Exhibición Patrimonial,Buenos Aires,Avellaneda,Museo Histórico-Sacro Hno. Rogelio Scortegagna,Calle 11 (Av. San Martín) Nº 830,S3561AKT,481 200,NaN,NaN,07/07/2022
3,6035010,6,6035,Espacios de Exhibición Patrimonial,Buenos Aires,Avellaneda,Museo Municipal De Artes Plásticas De Avellaneda,"Sarmiento 101, 1 º Piso",B1870CBC,4205 9567,NaN,NaN,07/07/2022
4,6049020,6,6049,Espacios de Exhibición Patrimonial,Buenos Aires,Azul,Museo Etnográfico Y Archivo Histórico Enrique ...,Bartolomé J. Ronco 654,B7300XAA,434 811,museoazul@yahoo.com,NaN,07/07/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1177,90098040,90,90098,Espacios de Exhibición Patrimonial,Tucumán,Tafí del Valle,Museo Histórico Y Arqueológico Jesuítico La Banda,La Banda S/N,4000,421 685,NaN,NaN,07/07/2022
1178,90105080,90,90105,Espacios de Exhibición Patrimonial,Tucumán,Tafí Viejo,Mac-Museo Arqueológico El Cadillal,Centro Principal el Cadillal,NaN,NaN,NaN,NaN,07/07/2022
1179,90105080,90,90105,Espacios de Exhibición Patrimonial,Tucumán,Tafí Viejo,Museo Ferroviario De Los Talleres De Tafí Viejo,Avda. Pte. Roque Sáenz Peña 234,4103,461 4335,NaN,NaN,07/07/2022
1180,90105070,90,90105,Espacios de Exhibición Patrimonial,Tucumán,Villa El Cadillal,Museo Arqueológico Dr. Ernesto Padilla,Ernesto Padilla S/N,4101,422 2199,NaN,NaN,07/07/2022
1181,90098040,90,90098,Espacios de Exhibición Patrimonial,Tucumán,Tafí del Valle,Asentamientos De Menhires En Las Áreas Arqueol...,NaN,NaN,NaN,NaN,www.enteculturaltucuman.gov.ar,07/07/2022

In [197]:
#selecciona columnas solicitadas
biblio = bibliotecas.iloc[0:,[0,1,2,4,6,8,9,10,12,14,15,16]]

In [198]:
#renombra columnas
biblio.columns=(['cod_localidad','id_provincia','id_departamento','categoría','provincia',
       'localidad','nombre','domicilio','código postal','número de teléfono', 'mail','web'
      ])

In [199]:
#añade fecha de carga
biblio.insert(12,'fecha de carga', '07/07/2022', allow_duplicates=False)

In [41]:
biblio

,cod_localidad,id_provincia,id_departamento,categoría,provincia,localidad,nombre,domicilio,código postal,número de teléfono,mail,web,fecha de carga
0,70049060,70,70049,Bibliotecas Populares,San Juan,Rodeo,Biblioteca Popular Juan P. Garramuno,Santo Domingo,5465,s/d,s/d,NaN,07/07/2022
1,2000010,2,2000,Bibliotecas Populares,Ciudad Autónoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular Helena Larroque de Roffo,Simbrón 3058,C1417EUD,45010078,asociacionroffo@yahoo.com.ar,NaN,07/07/2022
2,2000010,2,2000,Bibliotecas Populares,Ciudad Autónoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular 12 de Octubre,Calle Arengreen 1187,C1405CYM,49880766,popular12deoctubre@hotmail.com,NaN,07/07/2022
3,2000010,2,2000,Bibliotecas Populares,Ciudad Autónoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular Villa Pueyrredón Norte,Cockrane 2334,C1419FMD,45729107,bibliotecapueyrredon@hotmail.com,NaN,07/07/2022
4,2000010,2,2000,Bibliotecas Populares,Ciudad Autónoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular Alberdi,Acevedo 666,C1414DJN,47753325,bibliotecapopularalberdi@yahoo.com.ar,NaN,07/07/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012,62042560,62,62042,Bibliotecas Populares,Río Negro,Villa Regina,El Progreso,Pellegrini 476,8336,s/d,"helda_33@hotmail.com, bibliotecaelprogreso@hot...",NaN,07/07/2022
2013,70028010,70,70028,Bibliotecas Populares,San Juan,"Villa Seminario, Rivadavia",Biblioteca Popular 23 de Septiembre,Pueyrredón 1692,s/d,4331521,s/d,NaN,07/07/2022
2014,62007080,62,62007,Bibliotecas Populares,Río Negro,San Javier,Prospero Entraigas,San Javier,8500,s/d,"biblio_sanjavier@hotmail.com;, andreaaranea03@...",NaN,07/07/2022
2015,62077010,62,62077,Bibliotecas Populares,Río Negro,Las Grutas,Cmte. Luis Piedra Buena,Villa Regina 589,8521,497263,"bibliotecalasgrutas@yahoo.com.ar, alehernandez...",NaN,07/07/2022
2016,62042360,62,62042,Bibliotecas Populares,Río Negro,Catriel,José Hernández,Pampa Nº 691,8307,s/d,biblioteca.josehernandez.catriel@live.com,NaN,07/07/2022

In [200]:
b=biblio.replace('s/d',np.nan)

In [201]:
#unifica datos
salas=salas_cine.replace('SI','si')
salas=salas_cine.replace('s/d',np.nan)

In [202]:
#selecciona columnas solicitadas
s=salas.iloc[0:,[0,1,2,4,5,7,8,9,11,13,14,15]]

In [203]:
#renombra columnas
s.columns=(['cod_localidad','id_provincia','id_departamento','categoría','provincia',
       'localidad','nombre','domicilio','código postal','número de teléfono', 'mail','web'
      ])
s

,cod_localidad,id_provincia,id_departamento,categoría,provincia,localidad,nombre,domicilio,código postal,número de teléfono,mail,web
0,10049030,10,10049,Salas de cine,Catamarca,Catamarca,Cinemacenter,Intendente Mamerto Medina 220,4700,NaN,NaN,http://www.cinemacenter.com.ar/
1,10091150,10,10091,Salas de cine,Catamarca,Santa María,Centro Cultural San Agustín,San Martin 173,4139,421511,NaN,NaN
2,22140060,22,22140,Salas de cine,Chaco,Resistencia,Los Cines De La Costa,Av. Sarmiento 2600,3500,472200,administracion@loscinesdelacosta.com.ar,http://resistencia.loscinesdelacosta.com.ar/
3,26091020,26,26091,Salas de cine,Chubut,Sarmiento,Deborah Jones De Williams,Reg. Inf. Mec. 25 Esquina 20 De Junio,9020,4897169,culturasarmiento@hotmail.com,http://www.culturachubut.gob.ar/…/convo-evita-...
4,18007010,18,18007,Salas de cine,Corrientes,Bella Vista,Fantasio,Salta 1059,3432,NaN,nuevocineteatrorex@gmail.com,https://www.facebook.com/CineFantasioBellaVista/
...,...,...,...,...,...,...,...,...,...,...,...,...
324,6455030,6,6455,Salas de cine,Buenos Aires,Las Flores,Cine San Martin,San Martin 593,7200,462332,estre-c@hotmail.com,http://www.cinesanmartin3d.com.ar/
325,6434010,6,6434,Salas de cine,Buenos Aires,Lanús,Zona Cines Coto Lanús,Warnes 2450,1824,42399300,maciro@coto.com.ar,https://www.zonacines.com.ar
326,6791050,6,6791,Salas de cine,Buenos Aires,Tandil,Espacio INCAA Unicen,Yrigoyen 662,7000,4628324,martinezmcarla@yahoo.com.ar,https://www.unicen.edu.ar/content/funciones-es...
327,10049030,10,10049,Salas de cine,Catamarca,Catamarca,Cine Teatro Catamarca,San Martín 555,4700,4439129,NaN,http://www.turismo.catamarca.gob.ar/?vh_accomm...
328,6427010,6,6427,Salas de cine,Buenos Aires,San Justo,Espacio INCAA Km 16 La Matanza,Av. Illia 2340,1754,35316634,info@ccvb.org.ar\n,http://www.ccvb.org.ar/cinespecioincaa.html

In [204]:
#agrega fecha de carga
s.insert(12,'fecha de carga', '07/07/2022', allow_duplicates=False)

In [205]:
#concatena tabla info
info= pd.concat([m, b, s],axis=0)

In [206]:
#añade Tabla info a postgresql
info.to_sql('info',con=engine,if_exists='replace')

528

In [83]:
pd.read_sql("SELECT * FROM info",engine)

,index,cod_localidad,id_provincia,id_departamento,categoría,provincia,localidad,nombre,domicilio,código postal,número de teléfono,mail,web,fecha de carga
0,0,6588100,6,6588,Espacios de Exhibición Patrimonial,Buenos Aires,9 de Julio,Archivo Y Museo Histórico Gral. Julio De Vedia,Libertad 1191,B6500EVL,425 279,archivoymuseo@yahoo.com.ar,www.portaldel9.com.ar,07/07/2022
1,1,6077010,6,6077,Espacios de Exhibición Patrimonial,Buenos Aires,Arrecifes,Museo Y Archivo Histórico De Arrecifes,Gerardo Risso y España,B2740FMJ,452 931,museoarrecifes@hotmail.com,None,07/07/2022
2,2,6035010,6,6035,Espacios de Exhibición Patrimonial,Buenos Aires,Avellaneda,Museo Histórico-Sacro Hno. Rogelio Scortegagna,Calle 11 (Av. San Martín) Nº 830,S3561AKT,481 200,None,None,07/07/2022
3,3,6035010,6,6035,Espacios de Exhibición Patrimonial,Buenos Aires,Avellaneda,Museo Municipal De Artes Plásticas De Avellaneda,"Sarmiento 101, 1 º Piso",B1870CBC,4205 9567,None,None,07/07/2022
4,4,6049020,6,6049,Espacios de Exhibición Patrimonial,Buenos Aires,Azul,Museo Etnográfico Y Archivo Histórico Enrique ...,Bartolomé J. Ronco 654,B7300XAA,434 811,museoazul@yahoo.com,None,07/07/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3523,324,6455030,6,6455,Salas de cine,Buenos Aires,Las Flores,Cine San Martin,San Martin 593,7200,462332,estre-c@hotmail.com,http://www.cinesanmartin3d.com.ar/,07/07/2022
3524,325,6434010,6,6434,Salas de cine,Buenos Aires,Lanús,Zona Cines Coto Lanús,Warnes 2450,1824,42399300,maciro@coto.com.ar,https://www.zonacines.com.ar,07/07/2022
3525,326,6791050,6,6791,Salas de cine,Buenos Aires,Tandil,Espacio INCAA Unicen,Yrigoyen 662,7000,4628324,martinezmcarla@yahoo.com.ar,https://www.unicen.edu.ar/content/funciones-es...,07/07/2022
3526,327,10049030,10,10049,Salas de cine,Catamarca,Catamarca,Cine Teatro Catamarca,San Martín 555,4700,4439129,None,http://www.turismo.catamarca.gob.ar/?vh_accomm...,07/07/2022
3527,328,6427010,6,6427,Salas de cine,Buenos Aires,San Justo,Espacio INCAA Km 16 La Matanza,Av. Illia 2340,1754,35316634,info@ccvb.org.ar\n,http://www.ccvb.org.ar/cinespecioincaa.html,07/07/2022

In [207]:
#Cantidad de categorías
cantidad_categoria= pd.read_sql("""SELECT categoría AS registro, COUNT(categoría) AS cantidad FROM info GROUP BY categoría""",engine)
cantidad_categoria

                             registro  cantidad
0  Espacios de Exhibición Patrimonial      1182
1               Bibliotecas Populares      2017
2                       Salas de cine       329

In [122]:
#cantidad de datos por fuente
fuentes= pd.DataFrame([['Bibliotecas Populares',bibliotecas.size],['Museos',museos.size],['Salas de Cine',salas_cine.size]],columns=['registro','cantidad'])
fuentes

                registro  cantidad
0  Bibliotecas Populares     50425
1                 Museos     28368
2          Salas de Cine      8554

In [224]:
#Cantidad de salas de cine por provincia
cantidad_categ_prov= pd.read_sql("""SELECT CONCAT(categoría,' / ', provincia) as registro, COUNT(categoría) AS cantidad FROM info GROUP BY categoría, provincia""",engine)
cantidad_categ_prov

                                           registro  cantidad
0   Salas de cine / Ciudad Autónoma de Buenos Aires        35
1                           Salas de cine / Formosa         2
2                 Bibliotecas Populares / Catamarca        38
3                          Salas de cine / San Juan         6
4                             Salas de cine / Jujuy         4
..                                              ...       ...
68                    Bibliotecas Populares / Chaco        70
69                         Salas de cine / La Pampa         6
70    Espacios de Exhibición Patrimonial / Neuquén         39
71       Espacios de Exhibición Patrimonial / Salta        36
72                         Salas de cine / La Rioja         5

[73 rows x 2 columns]

In [225]:
#concatenado de cantidad de categorias, guentes y cantidade de categorias por provincias
tabla1= pd.concat([cantidad_categoria, fuentes, cantidad_prov_categ],axis=0)
tabla1

                                         registro  cantidad
0              Espacios de Exhibición Patrimonial      1182
1                           Bibliotecas Populares      2017
2                                   Salas de cine       329
0                           Bibliotecas Populares     50425
1                                          Museos     28368
..                                            ...       ...
68                  Bibliotecas Populares / Chaco        70
69                       Salas de cine / La Pampa         6
70  Espacios de Exhibición Patrimonial / Neuquén         39
71     Espacios de Exhibición Patrimonial / Salta        36
72                       Salas de cine / La Rioja         5

[79 rows x 2 columns]

In [226]:
#agrego fecha de carga
tabla1.insert(2,'fecha de carga', '07/07/2022', allow_duplicates=False)
tabla1

                                         registro  cantidad fecha de carga
0              Espacios de Exhibición Patrimonial      1182     07/07/2022
1                           Bibliotecas Populares      2017     07/07/2022
2                                   Salas de cine       329     07/07/2022
0                           Bibliotecas Populares     50425     07/07/2022
1                                          Museos     28368     07/07/2022
..                                            ...       ...            ...
68                  Bibliotecas Populares / Chaco        70     07/07/2022
69                       Salas de cine / La Pampa         6     07/07/2022
70  Espacios de Exhibición Patrimonial / Neuquén         39     07/07/2022
71     Espacios de Exhibición Patrimonial / Salta        36     07/07/2022
72                       Salas de cine / La Rioja         5     07/07/2022

[79 rows x 3 columns]

In [227]:
#inserto tabla1 en postgresql
tabla1.to_sql('tabla1',con=engine,if_exists='replace')

79

In [182]:
#corrección de valores 
tabla_base=salas_cine.loc[0:,['Provincia','Pantallas', 'Butacas','espacio_INCAA']]
tabla_base=tabla_base.replace('SI',1)
tabla_base=tabla_base.replace('si',1)
tabla_base=tabla_base.replace(np.nan,0)
tabla_base=tabla_base.replace('0',0)

tabla_base

        Provincia  Pantallas  Butacas  espacio_INCAA
0       Catamarca          5      743              0
1       Catamarca          1      440              0
2           Chaco          5      820              0
3          Chubut          1       80              0
4      Corrientes          1      240              0
..            ...        ...      ...            ...
324  Buenos Aires          1        0              0
325  Buenos Aires          8     2037              0
326  Buenos Aires          1      430              1
327     Catamarca          1     1103              1
328  Buenos Aires          1      390              1

[329 rows x 4 columns]

In [184]:
#agrupo por provincia  y sumo los datos
tabla2= tabla_base.groupby('Provincia').sum()
tabla2

                                 Pantallas  Butacas  espacio_INCAA
Provincia
Buenos Aires                           358    93112             20
Catamarca                               12     3200              1
Chaco                                   14     2469              1
Chubut                                  10     2682              4
Ciudad Autónoma de Buenos Aires        153    31386              3
Corrientes                              17     3370              1
Córdoba                                105    20799              2
Entre Ríos                              17     4086              2
Formosa                                  4     1184              1
Jujuy                                    5     2277              2
La Pampa                                 6     2071              2
La Rioja                                10     1477              1
Mendoza                                 47    11116              2
Misiones                                10     2177              2
Neuquén                                 12     3959              3
Río Negro                               10     2474              4
Salta                                   23     4665              2
San Juan                                22     4617              2
San Luis                                12     2601              0
Santa Cruz                               7     1256              2
Santa Fe                                79    20131              3
Santiago del Estero                     11     2928              1
Tierra del Fuego                         6     1445              0
Tucumán                                 24     5161              2

In [229]:
#agrego fecha de carga
tabla2.insert(3,'fecha de carga', '07/07/2022', allow_duplicates=False)
tabla2

,Pantallas,Butacas,espacio_INCAA,fecha de carga
Provincia,,,,
Buenos Aires,358,93112,20,07/07/2022
Catamarca,12,3200,1,07/07/2022
Chaco,14,2469,1,07/07/2022
Chubut,10,2682,4,07/07/2022
Ciudad Autónoma de Buenos Aires,153,31386,3,07/07/2022
Corrientes,17,3370,1,07/07/2022
Córdoba,105,20799,2,07/07/2022
Entre Ríos,17,4086,2,07/07/2022
Formosa,4,1184,1,07/07/2022
Jujuy,5,2277,2,07/07/2022
La Pampa,6,2071,2,07/07/2022
La Rioja,10,1477,1,07/07/2022
Mendoza,47,11116,2,07/07/2022
Misiones,10,2177,2,07/07/2022
Neuquén,12,3959,3,07/07/2022
Río Negro,10,2474,4,07/07/2022
Salta,23,4665,2,07/07/2022
San Juan,22,4617,2,07/07/2022
San Luis,12,2601,0,07/07/2022
Santa Cruz,7,1256,2,07/07/2022
Santa Fe,79,20131,3,07/07/2022
Santiago del Estero,11,2928,1,07/07/2022
Tierra del Fuego,6,1445,0,07/07/2022
Tucumán,24,5161,2,07/07/2022

In [230]:
#inserto la tabla en postgresql
tabla2.to_sql('tabla2',con=engine,if_exists='replace')

24